<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Parameters-->
    <add key="ActiveMQUri" value="activemq:tcp://MQIPAdress:PORT"/>
    <add key="TerminalName" value="Terminal1"/>
    <add key="QueueName" value="queue://QUEUE ADI"/>
    <add key="TerminalId" value="fed5eab0-bf65-4051-9e6f-cfe432c332ef" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=testdb;uid=sa;pwd=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>